/* App.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  letter-spacing: 0.1em;
  background-color: #fdfbfd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button {
  font-family: "Inter", sans-serif;
  border-radius: 20px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  cursor: pointer;
  color: black; /* or whatever color you want */
  -webkit-appearance: none; /* Remove default iOS styling */
  -webkit-tap-highlight-color: transparent; /* Prevent highlight */
}


