* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* === Dark Mode Variables === */
:root {
  --background-color: #f4f4f4;
  --text-color: #000000;
  --menu-gradient: linear-gradient(to bottom, #f4f4f4 65%, transparent);
  --bottom-menu-gradient: linear-gradient(to top, #f4f4f4 70%, transparent);
  --highlight-color: rgb(6, 237, 195);
  --button-color: black;
  --modal-bg: white;
  --modal-text: black;
  --border-color: black;
  --line-color: rgba(0, 0, 0, 0.2);
  --icon-color: #000000;
}

.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --menu-gradient: linear-gradient(to bottom, #121212 65%, transparent);
  --bottom-menu-gradient: linear-gradient(to top, #121212 70%, transparent);
  --highlight-color: #bb86fc;
  --button-color: white;
  --modal-bg: #1e1e1e;
  --modal-text: #ffffff;
  --border-color: #ffffff;
  --line-color: rgba(255, 255, 255, 0.2);
  --icon-color: white;
}

body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h2 {
  font-family: "Remixa", sans-serif;
  letter-spacing: 0.05ch;
}

::selection {
  background-color: var(--highlight-color);
  color: black; 
}


button {
  font-family: "Figtree", sans-serif;
  border-radius: 20px;
  border: none;
  background-color: transparent;
  border: #545555 solid 0.1rem;
  padding: 0.6em 1.2em;
  cursor: pointer;
  color: var(--button-color);
  /* -webkit-appearance: none; Remove default iOS styling */
  -webkit-tap-highlight-color: transparent; /* Prevent highlight */
}

.animated-name {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  letter-spacing: 0.05em;
  cursor: default;
}

.letter {
  display: inline-block;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}







