.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* backdrop-filter: blur(10px); */
  /* background: rgba(0, 0, 0, 0.3); */
  display: flex;
  padding-top: 5vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Wrapper that fakes the border using a gradient background */
.modal-border {
  padding: 1px; /* This defines the "thickness" of the border */
  border-radius: 24px;
  box-shadow: 0 0 15px 15px rgba(255, 255, 255, 50);
  background: white;
}

/* The actual modal */
.modal-content {
  position: relative;
  background: white;
   position: relative;
  border-radius: 18px;
  padding: 2rem;
  color: black;
  max-width: 80%;
  max-height: 90vh; 
  overflow-y: auto;     /* allows scroll */
  text-align: left;
  box-shadow: 0 0 15px 15px rgba(255, 255, 255, 50);
  padding-bottom: 6rem;
}



.modal-content::-webkit-scrollbar {
  display: none;
}


.modal-content img {
  max-width: 100%;
  margin: 1rem 0;
}

.carousel-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  max-height: 600px;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}
.carousel-image {
  flex: 0 0 100%;
  scroll-snap-align: center;
  width: 100%;
  height: auto;              /* 👈 allow natural height */
  object-fit: contain;       /* 👈 prevent cropping */
  margin: 0;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: none;
  border: none;
  color: #000;
  opacity: 0.5;
  cursor: pointer;
  z-index: 5;
  transition: opacity 0.3s;
}

.arrow:hover {
  opacity: 1;
  color: #5f07f6;

}

.arrow.left {
  left: -30px;
}

.arrow.right {
  right: -30px;
}

/* Navigation lines */
.carousel-lines {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 1rem 0;
}

.line {
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
}

.line.active {
  background: black;
}

.project-title {
  text-align: center;
  
}

/* Description */
.project-description {
  text-align: left;
  font-size: 1rem;
  margin-top: 1rem;
  color: #333;
  padding-bottom: 1rem;
}

.image-caption {
  margin-top: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;;
  border-top: 1px solid #939393;
  font-size: 0.9rem;
  color: #666;
  text-align: left;
}

@media (max-width: 600px) {
  .modal-content {
    padding-bottom: 6rem;
    max-width: 95%;

  }
}

.modal-close-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.modal-close-icon:hover {
  opacity: 1;
}